{% extends "EmptyBaseTemplate.html" %}

{% block title %}
Customer: {{ customer.GivenName }}
{% endblock %}

{% block content %}

       
        <div class="customer-snygg"
        <br><br>
        <br><br>
        <br><br>
        <a href="{{ url_for('editcustomer',id=customer.Id ) }}" class="btn">Edit customer</a>
        <p class="customer-p" style="font-size: 20px; line-height: 35px;"> id: {{ customer.Id }}</p>
        <p class="customer-p" style="font-size: 20px; line-height: 35px;">City: {{ customer.City }}></p>
        <p class="customer-p" style="font-size: 20px; line-height: 35px;">Streetaddress: {{ customer.Streetaddress }}</p>
        <p class="customer-p" style="font-size: 20px; line-height: 35px;">Telefon: +{{ customer.TelephoneCountryCode }} -  {{ customer.Telephone }}</p>
        <span><img src="https://img.systementor.se/{{ customer.Id }}/60/40" /></span>
        <h2>{{ customer.GivenName }} - {{ customer.Surname }}</h2>
        
        
        
        
        
        {%  for a in customer.Accounts  %}
            <a href="/customer/account/{{ a.Id }}" class="btn">
            {{ a.AccountType }}
            </a>: {{ a.Balance}}<br><br>
            {%  endfor  %}
            <h3 style="color:white;"> Total: {{ Saldo }}</h3>
        
    </div>
{% endblock %}


