{% extends "EmptyBaseTemplate.html" %}

{% block title %}
Customer: {{ customer.GivenName }}
{% endblock %}

{% block content %}
<div class="container">
    <table class="tablecustomer">

        
        <tbody>
            
            <td>
                {{ customer.GivenName }}
            </td>
            <td>
            {{ customer.Surname }}
            </td>
            <td>
<a href="{{ url_for('editcustomer',id=customer.Id ) }}" class="button">Edit customer</a>
            </td>
            <td>
    id: {{ customer.Id }}
            </td>
            <td>
    City: {{ customer.City }}
            </td>
            <td>
    Streetaddress: {{ customer.Streetaddress }}
            </td>
            <td>
    Telefon: +{{ customer.TelephoneCountryCode }} -  {{ customer.Telephone }}
            </td>
            <td>
    <img src="https://img.systementor.se/{{ customer.Id }}/60/40" />
            </td>
        </table>

<div class="konton"
Balance:<br><br>
{%  for a in customer.Accounts  %}
    <a href="/customer/account/{{ a.Id }}" class="btn">
    {{ a.AccountType }}
    </a>: {{ a.Balance}}<br><br>
    {%  endfor  %}
    <h1> Total: {{ Saldo }}
</div>
</div>
{% endblock %}


