{% extends "baseTemplate.html" %}

{% block title %}
Customer: {{ customer.GivenName }}
{% endblock %}


{% block content %}
<h1>{{ customer.GivenName }}</h1>
<h1>{{ customer.Surname }}</h1>
<a href="{{ url_for('editcustomer',id=customer.Id ) }}" class="button">Edit customer</a>
<p>
    id: {{ customer.Id }}
</p>
<p>
    City: {{ customer.City }}
</p>
<p>
    Streetaddress: {{ customer.Streetaddress }}
</p>
<p>
    Telefon: +{{ customer.TelephoneCountryCode }} -  {{ customer.Telephone }}
</p>
<p>
    <img src="https://img.systementor.se/{{ customer.Id }}/500/400" />
</p>
Balance:<br><br>
{%  for a in customer.Accounts  %}
<h2>
    <a href="/customer/account/{{ a.Id }}" class="btn">
    {{ a.AccountType }}
    </a>: {{ a.Balance}}<br><br>
</h2>
{%  endfor  %}
<h1> Total: {{ Saldo }}

{% endblock %}


