{% extends "EmptyBaseTemplate.html" %}

{% block title %} 

Customer: {{ customer.GivenName }}

{% endblock %}

{% block content %}
<div class="container">

  <br><br>
  <br><br>
  <div class="container">
  <h2>{{ customer.GivenName }} {{ customer.Surname }}</h2>

<p>id: {{ customer.Id }} Balance:</p><br /><br />

<h2>Transfer</h2>

<form method="post">

{{ form.csrf_token }}

{{ form.Receiver(placeholder="Enter account-number")}}



{{ form.Amount(placeholder="Enter Amount") }}
{% if form.Amount.errors %}
<ul>
  {% for error in form.Amount.errors %}
    <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}


  <input type="submit" value="Spara" class="btn"/>
</form>
{% for field, errors in form.errors.items() %}
<h2>{{ form[field].label }}: {{ ', '.join(errors) }}</h2>
{% endfor %}
</div>
{% endblock %}