{% extends "EmptyBaseTemplate.html" %}



{% block content %}

<div class="container">
<h1>
    Account name: 
{{ account.AccountType }}
</h1>
<h2>
cc-number: {{ account.Id }} <br>Balance: {{account.Balance}}
</h2>
<table class="transaktioner">
<thead>
    <th>Id</th>
    <th>Date</th>
    <th>Operation</th>
    <th>Amount</th>
    <th>Type</th>
    <th>NewBalance</th>
    <th><td><a href="/customer/account/newdeposit/{{ account.Id }}" class='btn'>Deposit</a></th>
        <th><td><a href="/customer/account/newwithdrawal/{{ account.Id }}" class='btn'>Withdrawal</a></th>
        <th><td><a href="/customer/account/transfer/{{ account.Id }}" class='btn'>Transfer</a></th>
</thead>
<tbody>
    {%  for t in transaktioner   %}
    <tr>
        <td>{{ t.Id }}</td> 
        <td>{{ t.Date }}</td>  
        <td>{{ t.Operation }}</td>           
        <td>{{ t.Amount }}</td>
        <td>{{ t.Type }}</td> 
        <td>{{ t.NewBalance}}</td>           
    </tr>
    {%  endfor  %}
    </tbody>
</table>
</div>
{% endblock %}