{% extends "EmptyBaseTemplate.html" %}



{% block content %}
<br><br>
<br><br>
<div class="knappar">
<h1>
    Account name: 
{{ account.AccountType }}
</h1>
<h2>
cc-number: {{ account.Id }} <br>Balance: {{account.Balance}}
</h2>
<a href="/customer/account/newdeposit/{{ account.Id }}" class='btn'>Deposit</a>
<a href="/customer/account/newwithdrawal/{{ account.Id }}" class='btn'>Withdrawal</a>
<a href="/customer/account/transfer/{{ account.Id }}" class='btn'>Transfer</a>
<table class="tabletransaction" id="posts-table">
<thead style="color: aqua;">
    <th>Id</th>
    <th>Date</th>
    <th>Operation</th>
    <th>Amount</th>
    <th>Type</th>
    <th>NewBalance</th>
</thead>
<tbody style="color: white;">

    </tbody>
</table>
<button class="btn" onclick="fetchMore()">Load more</button>




<script>
    pageNo = 1;
    function fetchMore(){
        console.log('work!');
        fetch("/api/customer/account/{{account.Id}}/?page=" + pageNo)
        .then((response) => response.json())
        .then((json) => {
            pageNo = pageNo + 1;
            json.forEach(tableElements);
        }
    );
}


function tableElements(element){
    console.log(element.ID)
    document.querySelector('#posts-table tbody').innerHTML +=
    `<tr>
        <td>${element.ID}</td>
        <td>${element.Type}</td>
        <td>${element.Date}</td>
        <td>${element.Amount}</td>
        <td>${element.NewBalance}</td>
        <td>${element.AccountId}</td>
    </tr>`;
}
document.addEventListener("DOMContentLoaded", function (){
    fetchMore();
});
</script>
</div>

{% endblock %}